@import 'compass';


// n is number of stars required
@function multiple-box-shadow ($n) 
{


  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n
  {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value)
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

#box-parallax
{
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 1;

}

#flare_1
{
  width: 180px;
  height: 180px;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-image: url('../img/flare_1_aqua.png');
  background-size: contain;
  background-origin: center middle;
  overflow: visible;
  background-color: transparent;
  /*background-color: blue;*/
  opacity: 1;

}

#planet_1
{
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-image: url('../img/planet_4.png');
  background-size: contain;
  background-origin: center middle;
  overflow: visible;
  background-color: transparent;
  /*background-color: blue;*/
  opacity: 1;

}

#planet_2
{
  width: 500px;
  height: 500px;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-image: url('../img/planet_3.png');
  background-size: contain;
  background-origin: center middle;
  overflow: visible;
  background-color: transparent;
  /*background-color: blue;*/
  opacity: 1;

}

#over_lay
{
    width: 110%;
  height: 110%;
  position: absolute;
  display: block;
    -webkit-box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,1);
  opacity: 1;
}


#stars
{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation     : animStar 50s linear infinite;
}

#stars:after
{


  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
}

    
#stars2
{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation     : animStar 100s linear infinite;
}

#stars3
{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
}


@keyframes animStar{
  from{transform: translateY(0px)}
  to{transform: translateY(-2000px)}
  }




/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: black;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
  z-index: 999;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


/* stripe form */

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
